[Unit]
Description=Azure Attestation Proxy Service on socket
After=network.target
Wants=network-online.target

[Service]
Type=simple

# Ensure the socket directory exists
ExecStartPre=/bin/mkdir -p /var/run/azure-attestation-proxy
ExecStartPre=/bin/chmod 755 /var/run/azure-attestation-proxy

# Ensure the binary exists before starting
ExecStartPre=/bin/bash -c 'if [ ! -x /usr/local/bin/azure-attestation-proxy/azure-attestation-proxy ]; then echo "Binary missing: /usr/local/bin/azure-attestation-proxy/azure-attestation-proxy" >&2; exit 1; fi'

# Execute CVM Attestation Service binary
ExecStart=/usr/local/bin/azure-attestation-proxy/azure-attestation-proxy

# Restart on failures
Restart=on-failure
RestartSec=5s

Environment="RUST_LOG=trace"

# Use journald for stdout/err
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target